@import 'libs/bootstrap-reboot';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

@import 'base/variables';
@import 'base/mixins';


* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}

p {
	margin-bottom: 0;
}

.container {
	width: 1140px;
	margin: 0 auto;
}

.divider {
	width: 60px;
	height: 3px;
	margin: 25px auto 0 auto;
	background: $main-color
}

@import 'blocks/promo';
@import 'blocks/titles';
@import 'blocks/buttons';
@import 'blocks/sidepannel';
@import 'blocks/menu';
@import 'blocks/about';
@import 'blocks/resume';
@import 'blocks/skills';
@import 'blocks/works';
@import 'blocks/price';
@import 'blocks/contacts';
@import 'blocks/policy';
@import 'blocks/media';