@media (max-width: 1439px) {
	.sidepannel {
		display: none;
	}
}

@media (max-width: 1200px) {
	.container {
		max-width: 960px;
	}

	.about {
		&__wrapper {
			grid-template-columns: 400px 520px;
			column-gap: 40px;
		}

		&__skills {
			grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 250px);
			column-gap: 20px;
		}

		&__skill {
			grid-template-columns: 40px 195px;
			column-gap: 15px;
		}
	}

	.resume {
		&__wrapper {
			grid-template-columns: repeat(2,375px);
			column-gap: 80px;
		}
	}

	.skills {
		&__progress {
			grid-template: repeat(3,minmax(70px,auto))/repeat(2,1fr);
		}
	}
}

@media (max-width: 991px) {
	.container {
		max-width: 720px;
	}

	.title {
		&-fz36 {
			font-size: 30px;
		}
	}

	.about {
		&__wrapper {
			grid-template-columns: 300px 380px;
		}

		&__skills {
			grid-template-columns: 380px;
			grid-auto-rows: minmax(115px, auto);
		}

		&__skill {
			grid-template-columns: 40px 320px;
			column-gap: 20px;
		}
	}

	.resume {
		&__wrapper {
			grid-template-columns: repeat(2,330px);
			column-gap: 60px;
			padding: 60px 0 0;
		}
	}

	.skills {
		&__wrapper {
			grid-template: repeat(2,minmax(270px,auto))/repeat(3,1fr);
		}
	}

	.works {
		&__wrapper {
			grid-template: repeat(3,280px)/repeat(2,1fr);
		}

		.horizonal {
			grid-row: unset;
			grid-column: unset;
		}

		.vertical {
			grid-row: unset;
			grid-column: unset;
		}
	}
}

@media (max-width: 767px) {
	.container {
		max-width: 540px;
	}

	.title {
		&-fz48 {
			font-size: 28px;
		}
	}

	.divider {
		margin: 0 auto;
	}

	.promo {
		&__title {
			width: 300px;
			line-height: 39px;
		}
	}

	.about {
		padding-top: 40px;

		&__wrapper {
			grid-template: 400px auto auto / 1fr;
		}

		&__photo {
			grid-row: unset;
		}

		&__skills {
			grid-template-columns: repeat(2, 260px);
		}

		&__skill {
			grid-template-columns: 40px 200px;
			column-gap: 20px;
		}
	}

	.resume {
		padding-top: 40px;

		&__wrapper {
			grid-template-columns: 1fr;
			column-gap: 0;
			row-gap: 40px;
		}
	}

	.skills {
		padding-top: 40px;

		&__wrapper {
			grid-template: repeat(2,minmax(270px,auto))/repeat(2,1fr);
			margin-top: 20px;
		}

		&__progress {
			margin-top: 40px;
		}
	}
}

@media (max-width: 575px) {
	.container {
		width: 100%;
		padding: 0 10px;
	}

	.title {
		&-fz48 {
			font-size: 26px;
		}

		&-fz36 {
			font-size: 24px;
		}
	}

	.hamburger {
		right: 20px;
	}

	.promo {
		background: url('../img/main_bg.jpg') no-repeat 57%/cover;

		&__title {
			width: 290px;
		}

		&__btns {
			margin-top: 30px;
		}
	}

	.menu {
		&__block {
			width: 250px;
			padding-left: 20px;
		}
	}

	.about {
		
		&__wrapper {
			grid-template: 340px auto auto / 1fr;
		}

		&__skills {
			grid-template-columns: 1fr;
			justify-self: center;
		}
	}

	.resume {
		.container {
			padding: 0 15px;
		}

		.divider {
			margin: 0 auto;
		}

		&__wrapper {
			padding-top: 40px;
		}
	}

	.skills {
		.title {
			&-fz36 {
				line-height: 36px;
			}
		}

		.divider {
			margin-top: 15px;
		}

		&__wrapper {
			grid-template: repeat(2,minmax(270px,auto))/repeat(1,1fr);
			padding: 0 15px;
		}

		&__progress {
			grid-template: repeat(6,minmax(70px,auto))/repeat(1,1fr);
		}
	}

	.works {
		padding-top: 46px;

		&__wrapper {
			grid-template: repeat(2,minmax(270px,auto))/repeat(1,1fr);
			row-gap: 20px;
			margin-top: 40px;
			padding: 0 10px;
		}
	}
}