.resume {
	padding-top: 120px;

	&__wrapper {
		display: grid;
		grid-template-columns: repeat(2, 425px);
		column-gap: 135px;
		padding: 60px 65px 0;
	}

	&__column {
		&-title {
			position: relative;
			padding-left: 35px;
			@include before_circle-min;

			&::before {
				content: '';
				top: 50%;
				left: -7px;
				transform: translateY(-50%);
			}
		}

		ul {
			list-style-type: none;
		}

		li {
			position: relative;

			&::after {
				content: '';
				position: absolute;
				top: -16px;
				left: 0;
				width: 1px;
				height: calc(100% + 16px);
				background: #000;
			}
		}
	}

	&__item {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 68px;
			height: 1px;
			width: 45px;
			background: #000;
		}

		&-head {
			position: relative;
			padding: 45px 0 0 100px;

			h4 {
				margin-bottom: 0;
			}
		}

		&-body {
			padding: 12px 0 0 43px;
			font-size: 12px;
			line-height: 18px;
		}

		&-icon {
			position: absolute;
			top: 50px;
			left: 45px;
			@include before_circle;

			img {
				position: absolute;
				top: 14px;
				left: 17px;

			}
		}

		&-location {
			margin-top: 5px;
			font-size: 12px;
			line-height: 18px;
		}
	}
}