.works {
	padding-top: 120px;

	&__wrapper {
		margin-top: 60px;
		display: grid;
		grid-template: repeat(2, 280px) / repeat(4, 1fr);
		grid-auto-rows: 280px;
		gap: 5px;

		.vertical {
			grid-row: 1/3;
			grid-column: 4/5;
		}

		.horizonal {
			grid-row: 2/3;
			grid-column: 2/4;
		}
	}

	&__item {
		transition: all .3s ease;

		img {
			width: 100%;
		}

		&:hover {
			transform: scale(.97);
			filter: blur(3px);
		}
	}
}